body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-bottom: 20px;
}

header {
    background-color: rgb(132, 139, 197);
}

h4 {
    color: rgb(84, 69, 110);
}

h2 {
    color: rgb(84, 69, 110);
}

h3 {
    color: rgb(84, 69, 110);
}

a {
    color: rgb(84, 69, 110);
}

form {
    color: aliceblue;
}